/** @format */

.PostPage {
    // .googleAdsense {
    // }
    .image {
        position: relative;
        aspect-ratio: 2 / 1;
        border: 1px solid var(--light);
        border-radius: 8px;
        overflow: hidden;
    }

    .title {
        margin-top: 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;

        overflow: hidden;
        text-transform: none;
        color: var(--dark);
        span {
            color: var(--accent);
        }

        @media (min-width: 768px) {
            font-size: 28px;
        }
    }
}
